<%= month_calendar events: @calendars do |date, calendars| %>
  <%= date.strftime("%-d日") %>
    <% if user_signed_in? && Check.where(user_id: current_user.id).present? %>
      <% @user_all_checks.each do |check| %>
        <% if date.strftime("%-m月%-d日") == check.updated_at.strftime("%-m月%-d日") %>
          <%= link_to '詳細', check_path(check) %><br/>
        <% end %>
      <% end %>
    <% end %>

    <% @donations.each do |donation| %>
      <% if donation.present? %>
        <% if donation.user_id == current_user.id %>
          <% if date.strftime("%-m月%-d日") == donation.payment_day.strftime("%-m月%-d日") %>
            <div class="donation-content">
              <p>禊済み</p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if @user_all_checks.present? %>
      <% @user_all_checks.each do |check| %>
        <% if check.user_id == current_user.id %>
          <% if date.strftime("%-m月%-d日") == check.updated_at.strftime("%-m月%-d日") && check.present? %>
            <div>
              <%= "イン：" %><%= check.updated_at.strftime("%-H時%M分") %><br/>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if @user_all_completes.present? %>
      <% @user_all_completes.each do |complete| %>
        <% if complete.user_id == current_user.id %>
          <% if date.strftime("%-m月%-d日") == complete.updated_at.strftime("%-m月%-d日") %>
            <div>
              <%= "アウト：" %><%= complete.updated_at.strftime("%-H時%M分") %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

  <% calendars.each do |calendar| %>
    <div>
      <%= calendar.name %>
    </div>
  <% end %>
<% end %>
