<% if user_signed_in? %>
  <div class="index-content d-flex">
    <div class="index-user-content container mt-3">
      <h3 class="content2-heading text-uppercase mb-5 display-4"><%= current_user.name %>さん</h3>
      <h3 class="content2-subheading font-weight-light mb-2">ミッション</h3>
      <h4 class="content2-subheading font-weight-light mb-5"><%= current_user.mission %></h4>
      
      <div class="mb-2">
        <div class="border rounded text-center">
          <div class="check-content border-bottom pt-3 pb-3 bg-gradient text-white">
            <h5>チェックイン</h5>
          </div>
          <div class="mt-3 mb-3">
            <% if @check.present? %>
              前回のチェックイン：<%= @check.updated_at.strftime("%-m月%-d日 %-H時%M分") %>
            <% else %>
              チェックインデータはありません
            <% end %>
          </div>
          <div class="check-around-button d-flex">
            <%= link_to 'チェックイン', new_check_path, class: 'btn btn-primary bg-gradient mb-3' %>
            <% if @check.present? %>
              <%= link_to '再チェックイン', edit_check_path(@check), class: 'btn btn-primary bg-gradient mb-3' %><br/>
                <% if @check.updated_at.strftime("%-m月%-d日") == Date.today.strftime("%-m月%-d日") %>
                  <%= link_to 'チェックイン取り消し', check_path(@check), method: :DELETE, class: 'btn btn-primary bg-gradient mb-3' %>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="mb-2">
        <div class="border rounded text-center">
          <div class="check-content border-bottom pt-3 pb-3 bg-gradient text-white">
            <h5>チェックアウト</h5>
          </div>
          <div class="mt-3 mb-3">
            <% if @complete.present? %>
              前回のチェックアウト：<%= @complete.updated_at.strftime("%-m月%-d日 %-H時%M分") %>
            <% else %>
              チェックアウトデータはありません
            <% end %>
          </div>
          <div class="check-around-button d-flex">
            <%= link_to 'チェックアウト', new_complete_path, class: 'btn btn-primary bg-gradient mb-3' %>
            <% if @complete.present? %>
              <%= link_to '再チェックアウト', edit_complete_path(@complete), class: 'btn btn-primary bg-gradient mb-3' %>
                <% if @complete.updated_at.strftime("%-m月%-d日") == Date.today.strftime("%-m月%-d日") %>
                  <%= link_to 'チェックアウト取り消し', complete_path(@complete), method: :DELETE, class: 'btn btn-primary bg-gradient mb-3' %>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="index-timeline-content container mt-3">
      <nav>
        <div class="mb-3">タイムライン</div>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">あなた</a>
          <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">全ユーザー</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <% if @check_user1.present? %>
            <%= @check_user1.user.name %>さんが<%= @check_user1.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
          <% if @check_user2.present? %>
            <%= @check_user2.user.name %>さんが<%= @check_user2.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
          <% if @check_user3.present? %>
            <%= @check_user3.user.name %>さんが<%= @check_user3.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
          <% if @check_user4.present? %>
            <%= @check_user4.user.name %>さんが<%= @check_user4.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
          <% if @check_user5.present? %>
            <%= @check_user5.user.name %>さんが<%= @check_user5.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
          <% if @check_user6.present? %>
            <%= @check_user6.user.name %>さんが<%= @check_user6.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
          <% if @check_user7.present? %>
            <%= @check_user7.user.name %>さんが<%= @check_user7.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
          <% if @check_user8.present? %>
            <%= @check_user8.user.name %>さんが<%= @check_user8.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
          <% if @check_user9.present? %>
            <%= @check_user9.user.name %>さんが<%= @check_user9.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
          <% if @check_user10.present? %>
            <%= @check_user10.user.name %>さんが<%= @check_user10.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <% if @check1.present? %>
            <%= @check1.user.name %>さんが<%= @check1.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
          <% if @check2.present? %>
            <%= @check2.user.name %>さんが<%= @check2.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
          <% if @check3.present? %>
            <%= @check3.user.name %>さんが<%= @check3.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
          <% if @check4.present? %>
            <%= @check4.user.name %>さんが<%= @check4.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
          <% if @check5.present? %>
            <%= @check5.user.name %>さんが<%= @check5.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
          <% if @check6.present? %>
            <%= @check6.user.name %>さんが<%= @check6.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
          <% if @check7.present? %>
            <%= @check7.user.name %>さんが<%= @check7.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
          <% if @check8.present? %>
            <%= @check8.user.name %>さんが<%= @check8.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
          <% if @check9.present? %>
            <%= @check9.user.name %>さんが<%= @check9.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
          <% if @check10.present? %>
            <%= @check10.user.name %>さんが<%= @check10.updated_at.strftime("%-m月%-d日 %-H時%M分") %>にチェックインしました。<br/>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="main-content d-flex align-items-end text-center">
    <div class="container d-flex align-items-center flex-column">
      <h1 class="content-heading text-uppercase mb-5 display-2">自分を変えたい、あなたに</h1>
      <h3 class="content-subheading font-weight-light mb-5">日々の習慣化のお手伝いをします</h3>
    </div>
  </div>
<% end %>