<div class="userpage">
  <div class="userpage-content">
    <h2 class="userpage-logo"><%= @check.updated_at.strftime("%-m月%-d日") %>の活動詳細</h2>
    <div class="index-content">
      <div class="index-user-content container">
        <div class="mt-5">
          <div class="border rounded text-center">
            <div class="check-content border-bottom pt-2 pb-2 bg-primary bg-gradient text-white">
              <h4>チェックイン</h4>
            </div>
            <div class="mt-2 mb-2">
              <% if @check.present? %>
                <h5><%= @check.updated_at.strftime("%-H時%M分") %></h5>
              <% else %>
                <h5>チェックインデータはありません</h5>
              <% end %>
            </div>
          </div>
        </div>

        <div class="mt-4">
          <div class="border rounded text-center">
            <div class="complete-content border-bottom pt-2 pb-2 bg-primary bg-gradient text-white">
              <h4>チェックアウト</h4>
            </div>
            <div class="mt-2 mb-2">
              <% if @complete.present? %>
                <h5><%= @complete.updated_at.strftime("%-H時%M分") %></h5>
              <% else %>
                <h5>チェックアウトデータはありません</h5>
              <% end %>
            </div>
          </div>
        </div>

        <div class="mt-4">
          <div class="border rounded text-center">
            <div class="goal-content border-bottom pt-2 pb-2 bg-primary bg-gradient text-white">
              <h4>当日の目標</h4>
            </div>
            <div class="goal-concrete-content mt-2 mb-2">
              <% if @check.present? %>
                <h5 class="content2-subheading"><%= @check.goal %></h5>
              <% end %>
            </div>
          </div>
        </div>

        <div class="mt-4">
          <div class="border rounded text-center">
            <div class="activity-content border-bottom pt-2 pb-2 bg-primary bg-gradient text-white">
              <h4>当日の活動内容</h4>
            </div>
            <div class="activity-concrete-content mt-2 mb-2">
              <% if @complete.present? %>
                <h5 class="content2-subheading"><%= @complete.activity %></h5>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>