<!DOCTYPE html>
<html lang='ja'>
  <head>
    <title>Bouzu365</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    
    <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>

<style>
body {
  font-family: "Mplus 1p";
  }

.header {
  font-weight: bold;
  height: 13vh;
  }

.menu-list {
  text-decoration: none;
  color: white;
  margin: 20px;
}

.logo {
  font-size: 30px;
  }

.main-content {
  color: white;
  height: 77vh;
  background-image: url("https://images.unsplash.com/photo-1499540633125-484965b60031?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  }

.content-heading {
  font-weight: bold;
}

.signup {
  height: 77vh;
  text-align: center;
  position: relative;
}

.signup-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50vw;
  height: 70vh;
}

.signup-form {
  margin-top: 7%;
}

.dummy-alart {
  font-size: small;
  opacity: 0;
}

.name-success {
  display: none;
  font-size: small;
}

.name-error {
  display: none;
  font-size: small;
}

.name-blank {
  display: none;
  font-size: small;
}

.name-nil {
  display: none;
  font-size: small;
}

.email-success {
  display: none;
  font-size: small;
}

.email-error {
  display: none;
  font-size: small;
}

.email-blank {
  display: none;
  font-size: small;
}

.email-nil {
  display: none;
  font-size: small;
}

.password-success {
  display: none;
  font-size: small;
}

.password-error {
  display: none;
  font-size: small;
}

.password-blank {
  display: none;
  font-size: small;
}

.password-nil {
  display: none;
  font-size: small;
}

.password-confirmation-success {
  display: none;
  font-size: small;
}

.password-confirmation-error {
  display: none;
  font-size: small;
}

.password-confirmation-blank {
  display: none;
  font-size: small;
}

.password-confirmation-nil {
  display: none;
  font-size: small;
}

.mission-success {
  display: none;
  font-size: small;
}

.mission-error {
  display: none;
  font-size: small;
}

.mission-nil {
  display: none;
  font-size: small;
}

.footer {
  height: 10vh;
}
</style>

  <body>
    <div class="row">
      <%= render "shared/header" %>
      <div class="container-fluid">
        <%= yield %>
      </div>
      <%= render "shared/footer" %>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
